h3{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

main section{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
}

.event1{
    display:flex;
    justify-content: center;
    /* reemplaza las propiedades puestas sobre el articulo */
    margin-top: 30px;
    width: 30%;
}
.relatedEvents article img{
    margin: auto;
    display: block;
}
.container-e{
    border: 3px solid grey;
    padding: 10px;
}
.container-d{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}
.date-event{
    font-weight: bold;
    text-align: center;   
}

.description-info{
    text-align: right;
}
.btn-buy{
    display: flex;
    flex-direction: row;
    width: max-content;
    align-items: center;
    padding: 5px;
    background-color: cornflowerblue;
    border:none;
}
.btn-buy img{
    width: 25px;
}
.btn-buy p{
    color: #FFF;
    font-weight: bold;
    margin-left: 3px;
}
.detail,.btn-buy{float: right;}
.clear{clear: both;}
/* div[class^='event'] {
    margin-top: 30px;
    width: 30%;
    border:1px solid  #2387bc;
} */
.container-e:hover{
    border: 3px solid rgb(231, 122, 19);
    transition-duration: 0.5s;
}
.btn-buy:hover{
    background-color: #7ca6f3;
    cursor: pointer;
}

.detailEvent{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: center;
    justify-content: space-around;
}

.detailEvent article{
    width: 45%;
    height: 500px;
    background-color: greenyellow;
}