h3{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

main section{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
}

.event1{
    display:flex;
    justify-content: center;
    /* reemplaza las propiedades puestas sobre el articulo */
    margin-top: 30px;
    width: 30%;
}
.relatedEvents article img{
    margin: auto;
    display: block;
}
.container-e{
    border: 3px solid grey;
    padding: 10px;
}
.container-d{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}
.date-event{
    font-weight: bold;
    text-align: center;   
}

.description-info{
    text-align: right;
}
.btn-buy{
    display: flex;
    flex-direction: row;
    width: max-content;
    align-items: center;
    padding: 5px;
    background-color: cornflowerblue;
    border:none;
}
.btn-buy img{
    width: 25px;
}
.btn-buy p{
    color: #FFF;
    font-weight: bold;
    margin-left: 3px;
}
.detail,.btn-buy{float: right;}
.clear{clear: both;}
/* div[class^='event'] {
    margin-top: 30px;
    width: 30%;
    border:1px solid  #2387bc;
} */
.container-e:hover{
    border: 3px solid rgb(231, 122, 19);
    transition-duration: 0.5s;
}
.btn-buy:hover{
    background-color: #7ca6f3;
    cursor: pointer;
}

.detailEvent{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.detailEvent article{
    width: 40%;
    margin: 1%;
    height: auto;
    /*background-color: greenyellow;*/
    box-sizing: border-box;
    margin-bottom: 1%;
}

.infoEvent{
    padding-left: 1%;
    padding-top: 2%;
}

.infoEvent h2{
    text-align: center;
}
.infoEvent p{
    padding-top: 15px;
}

.infoEvent .enrollToEvent{
    font-size: 1em ;
    font-weight: bold;
    color: #F0B27A;
    border: 2px solid white;
    padding: 12px;
    margin-top: 15px;
    background-color: #F7853C;
    margin: 0 auto;
    display: block;
}

.photoEvent{
    padding-top: 2%;
}

.photoEvent img{
    width: 60%;
    display: block;
    text-align: center;
    margin: auto;
}
