h3{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

main section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.event1{
    display:flex;
    justify-content: center;
    /* reemplaza las propiedades puestas sobre el articulo */
    margin-top: 30px;
    width: 55%;
}
.relatedEvents article img{
    margin: auto;
    display: block;
}
.container-e{
    border: 3px solid grey;
    padding: 10px;
}
.container-d{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}
.date-event{
    font-weight: bold;
    text-align: center;   
}

.description-info{
    text-align: right;
}
.btn-buy{
    display: flex;
    flex-direction: row;
    width: max-content;
    align-items: center;
    padding: 5px;
    background-color: cornflowerblue;
    border:none;
}
.btn-buy img{
    width: 25px;
}
.btn-buy p{
    color: #FFF;
    font-weight: bold;
    margin-left: 3px;
}
.detail,.btn-buy{float: right;}
.clear{clear: both;}
/* div[class^='event'] {
    margin-top: 30px;
    width: 30%;
    border:1px solid  #2387bc;
} */
.container-e:hover{
    border: 3px solid rgb(231, 122, 19);
    transition-duration: 0.5s;
}
.btn-buy:hover{
    background-color: #7ca6f3;
    cursor: pointer;
}

.detailEvent{
   
    position: relative;
    top: 9em;
    margin-bottom: 10em;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.detailEvent article{
    width: 95%;
    margin: 1%;
    height: auto;
    /*background-color: greenyellow;*/
    box-sizing: border-box;
    margin-bottom: 1%;
}

.infoEvent{
    height: 500px;
    padding-left: 1%;
    padding-top: 2%;
}

.infoEvent h2{
    text-align: center;
}
.infoEvent p{
    padding-top: 15px;
}

.infoEvent .enrollToEvent{
    width: 75%;
    font-size: 1em ;
    font-weight: bold;
    color: #F0B27A;
    border: 2px solid white;
    padding: 12px;
    margin-top: 15px;
    background-color: #F7853C;
    margin: 0 auto;
    display: block;
}

.photoEvent{
    width: 100%;
    padding-top: 2%;
}

.photoEvent img{
    width: 85%;
    display: block;
    text-align: center;
    margin: auto;
}


/*************************RESPONSIVE****************************/
@media screen and (min-width:30em) and (min-width:37.5em){
    .event1{
        width: 40%;
    }
    .detailEvent{
        flex-direction: row;
    }
    .detailEvent article {
        width: 40%;
    }
    .infoEvent .enrollToEvent {
        width: 60%;
    }
}
/* -------------------- 48 EMs dispositivos medianos ------------------------ */
@media screen and (min-width:50em){
    .event1{
        width: 30%;
    }

    .detailEvent{
        position: initial;
        top: 1em;
        margin-bottom: 1em;
    }
    
}
@media screen and (min-width:70.9em){
    .event1{
        width: 20%;
    }
}


/********************************ventana modal****************************************/
#miModal{
    text-align: center;
    padding: 2em;
    position: fixed;
    top: 50%;
    /* left: 50%; */
    z-index: 1000;
    width: 25%;
    height: 25%;
    background-color: orange;
    display: none;
}


#cerrarModal{
    width: 40%;
    position: absolute;
    bottom: 0px;
    left: 30%;

}
/***********************************************************************************/