/*------------------------ main -------------------------------*/
.slider img{
    display: block;
    margin: auto;
    padding: 25px;
    height: 350px;
    width: 84%;
    /*position: relative;*/
}

.leftArrow img{
    margin-left: 50px;
    left: 50px;
}

.leftArrow img, .rightArrow img {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
}

.rightArrow img{
    right: 50px;
    margin-right: 50px;
}
/* --------------------------------Pasos de compra--------------------- */
.steps{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
}

.step1, .step2, .step3,.step4{
    background-image: url("../img/");
    flex-direction: column;
    margin-right: 30px;
    width: 210px;
    min-width: 183px;
    height: 270px;
    padding: 25px;
    border: 1px solid gray;
    border-radius: 50% 0;
    font-size: larger;
    
}

.steps .step1 img, .steps .step2 img,.steps .step3 img,.steps .step4 img{
    /* width: 100px;
    height: 50px; */
    border-radius: 50%;
}
/* ----------------------------------------------------------------- */
main h2{
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ----------------------------Events---------------------------------- */
.featuredEvents{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/* .featuredEvents article{
    margin-top: 30px;
    width: 30%;
} */
.event1{
    display:flex;
    justify-content: center;
    /* reemplaza las propiedades puestas sobre el articulo */
    margin-top: 30px;
    width: 30%;
}
.featuredEvents article img{
    margin: auto;
    display: block;
}
.container-e{
    border: 3px solid grey;
    padding: 10px;
}
.container-d{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}
.date-event{
    font-weight: bold;
    text-align: center;   
}
.description-info{
    text-align: right;
}
.btn-buy{
    display: flex;
    flex-direction: row;
    width: max-content;
    align-items: center;
    padding: 5px;
    background-color: cornflowerblue;
    border:none;
}
.btn-buy img{
    width: 25px;
}
.btn-buy p{
    color: #FFF;
    font-weight: bold;
    margin-left: 3px;
}
.detail,.btn-buy{float: right;}
.clear{clear: both;}
/* div[class^='event'] {
    margin-top: 30px;
    width: 30%;
    border:1px solid  #2387bc;
} */
.container-e:hover{
    border: 3px solid rgb(231, 122, 19);
    transition-duration: 0.5s;
}
.btn-buy:hover{
    background-color: #7ca6f3;
    cursor: pointer;
}
.name-event{
    text-align: end;
}
.detail{
    color: blue;
    text-decoration: none;
}
.detail:visited{
    color: blue;
}



/* ---------------------------------------------------------------------- */
.paymentMethod{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.leftArrowPayment img{
    margin-left: 50px;
    left: 50px;
}

.leftArrowPayment img, .rightArrowPayment img {
    height: 50px;
    width: 50px;
    top: 50%;
}

.rightArrowpayment img{
    right: 50px;
    margin-right: 50px;
}
/* -------------------fin main-------------- */
