*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #FFF;
    font-family: forte, serif;
}
/*------------------------- colores ----------------------------------- */
/*
    #783a80 violeta
    #7e7e7e gris fuerte
    #ccc    gris claro
    #45afab celeste turquesa
    #FF3F00 naranja
*/
/* -------------------------inicio header ----------------------------------- */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

input[type=search] {
    border-radius: 25px;
    height: 25px;
}

.ticketImage{
    width: 100px;
    height: 100px;
    margin-right: 15px;
}

.logo, .ticket{
    padding: 10px 10px 10px 10px;
} 

.logo img{
    height: 80px;
    width: 260px;

}
.buscador,.logo{
    display: inline-block;
}

/* ----------------------Input search------------------------------ */
fieldset{
    border-radius: 5px;
    border: 1px solid grey;
}
.buscador{
    margin:0 auto;
    width: max-content;
}
.btn-search,.search{
    padding: 0;
    height: 25px;
    border: none;
}
.search{
    color: #666;
    padding-left: 10px;
    background-color: white;
    width: 400px;
    min-width: 100px;
}
.btn-search{
    width: 30px;
    height: 30px;
    border-radius: 0 5px 5px 0;
}
.btn-search img{width: 15px;}
/* ---------------------------------------------------------------- */


/* .searchAndButton{
    position: relative;
    display: flex;
    justify-content: center;
}
.searchAndButton .search{
    width: 160px;
    height: 30px;
}

.buttonSearch{
    position: absolute;
    top: 50%;
    right: 5px;
} */

nav{
    background-color: #F0B27A;
    width: 100%;
}
nav li{
    /* mirar el comportamiento en inline-block */
    display: inline-block;
    list-style: none;
    padding: 15px 10px;
}
nav a{
    color: #CC0700;
    text-decoration: none;
    padding: 15px;
    background-color: #F0B27A;
}
nav ul{
    text-align: center;
}

nav a:hover{
    background-color: #000;
    color: #F39C12;
}

nav a:visited{
    color: black;
}
/* -------------------------------fin header-------------------------------------- */

/*------------------------ main -------------------------------*/
.slider img{
    display: block;
    margin: auto;
    padding: 25px;
    height: 350px;
    width: 84%;
    /*position: relative;*/
}

.leftArrow img{
    margin-left: 50px;
    left: 50px;
}

.leftArrow img, .rightArrow img {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
}

.rightArrow img{
    right: 50px;
    margin-right: 50px;
}

.steps{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.step1, .step2, .step3{
    flex-direction: column;
    margin-right: 30px;
    width: 10%;
}

.steps .step1 img, .steps .step2 img,.steps .step3 img{
    width: 100px;
    height: 50px;
}

main h2{
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ----------------------------Events---------------------------------- */
.featuredEvents{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/* .featuredEvents article{
    margin-top: 30px;
    width: 30%;
} */
.event1{
    display:flex;
    justify-content: center;
    /* reemplaza las propiedades puestas sobre el articulo */
    margin-top: 30px;
    width: 30%;
}
.featuredEvents article img{
    margin: auto;
    display: block;
}
.container-e{
    border: 3px solid grey;
    padding: 10px;
}
.container-d{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}
.date-event{
    font-weight: bold;
    text-align: center;   
}
.description-info{
    text-align: right;
}
.btn-buy{
    display: flex;
    flex-direction: row;
    width: max-content;
    align-items: center;
    padding: 5px;
    background-color: cornflowerblue;
    border:none;
}
.btn-buy img{
    width: 25px;
}
.btn-buy p{
    color: #FFF;
    font-weight: bold;
    margin-left: 3px;
}
.detail,.btn-buy{float: right;}
.clear{clear: both;}
/* div[class^='event'] {
    margin-top: 30px;
    width: 30%;
    border:1px solid  #2387bc;
} */
.container-e:hover{
    border: 3px solid rgb(231, 122, 19);
    transition-duration: 0.5s;
}
.btn-buy:hover{
    background-color: #7ca6f3;
    cursor: pointer;
}
.name-event{
    text-align: end;
}
.detail{
    color: blue;
    text-decoration: none;
}
.detail:visited{
    color: blue;
}



/* ---------------------------------------------------------------------- */
.paymentMethod{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.leftArrowPayment img{
    margin-left: 50px;
    left: 50px;
}

.leftArrowPayment img, .rightArrowPayment img {
    height: 50px;
    width: 50px;
    top: 50%;
}

.rightArrowpayment img{
    right: 50px;
    margin-right: 50px;
}
/* -------------------fin main-------------- */
/* -------------------Inicio footer-------------- */
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 20px;
    background-color: #F0B27A;
    padding: 10px;
}

footer article{
    border-color: black;
    border-style: solid;
    border-width: 5px;
    width: 30%;
    height: 150px;
}

footer article h5{
    text-align: center;
    padding-top: 10px;
}

footer article p{
    display: block;
    padding-left: 10px;
    padding-top: 10px;
}
article .sn-icons{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: cemter;
    
}
.sn-icons>a>img{
    width: 45px; 
}
.sn-icons a{
    display: inline-flex;
}
/* -------------------Fin footer-------------- */