
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #FFF;
    font-family: forte, serif;
}
/*------------------------- colores ----------------------------------- */
/*
    #783a80 violeta
    #7e7e7e gris fuerte
    #ccc    gris claro
    #45afab celeste turquesa
    #FF3F00 naranja
*/
/* -------------------------inicio header ----------------------------------- */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

input[type=search] {
    border-radius: 25px;
    height: 25px;
}

.ticketImage{
    width: 100px;
    height: 100px;
    margin-right: 15px;
    position: relative;
}

.logo, .ticket{
    padding: 10px 10px 10px 10px;
} 

.ticket .divCirculo{
    top: 10px;
    right: 15px;
    position: absolute;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #CC0700;
}

.divCirculo .circulo{
    position: relative;
}

.divCirculo p{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ticket p{
    position: absolute;
}

.logo img{
    height: 80px;
    width: 260px;

}
.buscador,.logo{
    display: inline-block;
}
/* ----------------------Input search------------------------------ */
fieldset{
    border-radius: 5px;
    border: 1px solid grey;
}
.buscador{
    margin:0 auto;
    width: max-content;
}
.btn-search,.search{
    padding: 0;
    height: 25px;
    border: none;
}
.search{
    color: #666;
    padding-left: 10px;
    width: 400px;
    min-width: 100px;
}
.btn-search{
    width: 30px;
    height: 30px;
    border-radius: 0 5px 5px 0;
}
.btn-search img{width: 15px;}
.btn-search img,.btn-search,.search{
    background-color: white;
}
.btn-search:hover{
    cursor: pointer;
}
/* ---------------------------------------------------------------- */


/* .searchAndButton{
    position: relative;
    display: flex;
    justify-content: center;
}
.searchAndButton .search{
    width: 160px;
    height: 30px;
}

.buttonSearch{
    position: absolute;
    top: 50%;
    right: 5px;
} */

nav{
    background-color: #F0B27A;
    width: 100%;
}
nav li{
    /* mirar el comportamiento en inline-block */
    display: inline-block;
    list-style: none;
    padding: 15px 10px;
}
nav a{
    color: #CC0700;
    text-decoration: none;
    padding: 15px;
    background-color: #F0B27A;    
}
nav ul{
    text-align: center;
}

nav a:hover{
    background-color:#000;
    color: #F39C12;
}

/*nav a:visited{
    color: black;*/
}
/* -------------------------------fin header-------------------------------------- */

/* -------------------Inicio footer-------------- */
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 20px;
    background-color: #F0B27A;
    padding: 10px;
}

footer article{
    border-color: black;
    border-style: solid;
    border-width: 5px;
    width: 30%;
    height: 150px;
    align-items: center;
}

footer article h5{
    text-align: center;
    padding-top: 10px;
}

footer article p{
    display: block;
    padding-left: 10px;
    padding-top: 10px;
}
article .sn-icons{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: cemter;
    
}

.sn-icons>a>img{
    width: 45px; 
}
.sn-icons a{
    display: inline-flex;
}
/* -------------------Fin footer-------------- */