main{
    background-color: yellowgreen;
}

.formSection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.formArticle{
    width: 25%;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: red;
}