* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    position: relative;
    top: 9em;
    margin-bottom: 10em;
}
form {
    width: 80%;
    margin: 30px auto;
}

h2 {
    padding: 10px 0;
}

.nameSurname-person,
.dni-person,
.precio {
    width: 100%;
    /* margin-right: 15px; */
    margin: 0.5em;
    border-radius: 5px;
    border: 1px solid grey;
    line-height: 30px;
    padding-left: 10px;
}

.person,
.add-person,
.value-insc {
    display: flex;
    justify-content: center;
}

.person {
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
    background-color: azure;
    padding: 0.5em;
}

button {
    background: white;
    border: none;
}

button img {
    width: 25px;
    color: white;
}

button:hover {
    cursor: pointer
}

.add-person p {
    align-self: center;
    padding-left: 10px;
}
.add-person {
    margin: 2em;
}
.val {
    font-size: 1.5em;
    background: black;
    color: white;
    padding: 10px;
    margin: 5px;
}

.register {
    font-size: 1em;
    font-weight: bold;
    color: #F0B27A;
    border: 2px solid white;
    padding: 12px;
    background-color: #F7853C;
    /* width: 20%; */
    width: 50%;
    border-radius: 5px;
}

.register:hover {
    cursor: pointer;
    transition: 0.4s;
    background-color: white;
    border: 2px solid #F7853C;
    color: #F7853C;
}

/* --------------------CONFIGURACION RESPONSIVE------------------------ */

@media screen and (min-width:30em) and (min-width:37.5em) {
  .person{
      flex-direction: row;
  }
  .add-person {
     margin: 1em; 
}
.person, .add-person, .value-insc {
    display: flex;
     justify-content: initial; 
}

.register{
    width: 20%;
}


/* -------------------- 48 EMsaprox dispositivos medianos ------------------------ */

@media screen and (min-width:50em) {
   
   }

}