

h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
main{
    position: relative;
    top: 9em;
    margin-bottom: 10em;
}
main section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
}

.relatedEvents article img {
    margin: auto;
    display: block;
}

.description-info {
    text-align: right;
}

.clear {
    clear: both;
}

.container-e:hover {
    border: 3px solid rgb(231, 122, 19);
    transition-duration: 0.5s;
}

.detailEvent {
    display: flex;
    flex-direction: column;
    /* flex-direction: row; */
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
}

.detailEvent article {
    width: 93%;
    margin: 4%;
    box-sizing: border-box;
    margin-bottom: 1%;
}

.infoEvent {
    padding-left: 1%;
    padding-top: 2%;
}

.infoEvent h2 {
    text-align: initial;
}


/* .infoEvent p{
    padding-top: 15px;
} */

.infoEvent .enrollToEvent {
    font-size: 1em;
    font-weight: bold;
    color: #F0B27A;
    border: 2px solid white;
    padding: 12px;
    margin-top: 15px;
    background-color: #F7853C;
    margin: 0 auto;
    display: block;
}

.photoEvent {
    padding-top: 2%;
    background-color: gray;
    height: 500px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.photoEvent img {
    width: 60%;
    display: block;
    text-align: center;
    margin: auto;
}

#newNameEvent {
    position: absolute;
    left: 50%;
    top: 50%;
}


/* --------------------------------form----------------------------- */

form,
.set-color {
    display: flex;
    flex-direction: column;
}

#name-event,
#date-time {
    padding: 5px;
    line-height: 2em;
    font-size: 1.5em;
    border-radius: 5px;
    border: 1px solid #2681d0;
}

.set-color,
.set-size,
.set-background,
.set-position {
    /* width: 75%; */
    flex-direction: row;
    justify-content: space-between;
}

.set-size,
.set-background,
.set-position {
    display: flex;
}

.color,
.background {
    padding: 2em;
}

.color-box,
.size-box,
.background-box,
.position-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.size-box {
    margin: 10px 0;
    justify-content: center;
}

#red,
#green,
#blue,
#grey,
#pink {
    margin-bottom: 5px;
    border-radius: 50%;
}

#red {
    background-color: crimson;
}

#green {
    background-color: forestgreen;
}

#blue {
    background-color: lightskyblue
}

#grey {
    background-color: lightslategrey;
}

#pink {
    background-color: lightpink;
}

.label20 {
    font-size: 1.2em;
}

.label28 {
    font-size: 1.4em;
}

.label32 {
    font-size: 1.6em;
}

.label48 {
    font-size: 1.8em;
}

.label60 {
    font-size: 2.2em;
}

#background1 {
    background-image: url(../img/background/background1.jpg);
}

#background2 {
    background-image: url(../img/background/background2.jpg);
}

#background3 {
    background-image: url(../img/background/background3.jpg);
}

#background4 {
    background-image: url(../img/background/background4.jpg);
}

#background5 {
    background-image: url(../img/background/background5.jpg);
}


/* clase que contiene a la imagen */

.background {
    background-size: cover;
    margin: 10px 0;
    border-radius: 25%;
}


/* posiciones de la fecha */

.position img {
    /* width: 50px; */
    width: 9em;
}

/* .set-position {
    width: 40%;
} */


/* titulo label*/

.title-label,
h2 {
    margin: 10px 0;
}


/* boton confirmar */

.confirm {
    font-size: 0.8em;
    font-weight: bold;
    color: #F0B27A;
    border: 2px solid white;
    padding: 12px;
    margin-top: 25px;
    background-color: #F7853C;
    /* width: 20%; */
    border-radius: 5px;
}

.confirm:hover {
    cursor: pointer;
    transition: 0.4s;
    background-color: white;
    border: 2px solid #F7853C;
    color: #F7853C;
}

#dateEvent {
    bottom: 20px;
    position: absolute;
}
input[type="radio"] {
    width: 1.5em;
    height: 1.5em;
}

/* ----------------------------------------------------------------- */


/* *************************estilos js**************************** */


/* *************************************************************** */

/* --------------------CONFIGURACION RESPONSIVE------------------------ */


/******30 EMs aprox dispositivos pequeños************/

@media screen and (min-width:30em) and (min-width:37.5em) {
  
}


/* -------------------- 48 EMsaprox dispositivos medianos ------------------------ */

@media screen and (min-width:50em) {
   .detailEvent{
       flex-direction: row;
   }
   .detailEvent article{
       width: 49%;
       margin: 1%;
   }

   #name-event,#date-time{
        line-height: 1em;
        font-size: 1em;
   }
   .color, .background {
    padding: 1.6em;
}
.position img {
    width: 4em;
}
.confirm{
    width: 35%;
}

main {
    width: 80%;
    top: 1em;
    margin-bottom: 1em;
    margin: 0 auto;
}

}