h3{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

main section{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
}

.relatedEvents article img{
    margin: auto;
    display: block;
}


.description-info{
    text-align: right;
}

.clear{clear: both;}

.container-e:hover{
    border: 3px solid rgb(231, 122, 19);
    transition-duration: 0.5s;
}

.detailEvent{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.detailEvent article{
    width: 40%;
    margin: 1%;
    height: 400px;
    box-sizing: border-box;
    margin-bottom: 1%;
}

.infoEvent{
    padding-left: 1%;
    padding-top: 2%;
}

.infoEvent h2{
    text-align: center;
}
.infoEvent p{
    padding-top: 15px;
}

.infoEvent .enrollToEvent{
    font-size: 1em ;
    font-weight: bold;
    color: #F0B27A;
    border: 2px solid white;
    padding: 12px;
    margin-top: 15px;
    background-color: #F7853C;
    margin: 0 auto;
    display: block;
}

.photoEvent{
    padding-top: 2%;
}

.photoEvent img{
    width: 60%;
    display: block;
    text-align: center;
    margin: auto;
}
