header{
    background-color: bisque;
    height: 150px;
}

.logo{
    float: left;   
}

img{
    margin-left: 20px;
    margin-top: 5px;
    width: 100px;
    height: 100px;
}

main{
    background-color: darkgrey;
}

.buscador {
    margin-left: 150px;
    margin: 0 auto;
}

h3{
    background-color: black;
    clear: both;
    color: white;
    text-align: center;
}

